* {
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    }
.body{   
        background-image: url("images/19.jpg");
        background-position-y: center;
        background-size: cover;
        margin: 0px;
        
    }

    
/* Style the Signup Form */
.signup-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.signup-container label {
  display: block;
  margin-bottom: 10px;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
  width: 100%;
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.signup-container button[type="submit"] {
  background-color: #0080ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-container button[type="submit"]:hover {
  background-color: #0044cc;
}

.signup-container p {
  text-align: center;
  margin-top: 15px;
}

.signup-container a {
  text-decoration: none;
  color: #0080ff;
}

.signup-container a:hover {
  text-decoration: underline;
}
