body { 
    background: rgba(212, 226, 223, 0.3)

}
nav{
    border-color: aqua;
}
header{
    margin-top: 0px;
    display: flex;
    margin-right: 0px;
    background:rgb(36, 34, 34);
    
}

nav{
    list-style: none;
    display: inline-block;
    padding-bottom: 20px;
}
nav2{
    padding-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    margin-block-end: 0;
}
div1  {
     margin-right:100px ;
     border-width: 0.2px;
 }
 div2{
    text-decoration: none;
 }

a{
    color: white;
    text-decoration: none;
}
.button:hover {
    
    background-color: #9a4bb3; /* Green */
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    
   
  }
  a:active {
    background-color: #04AA6D;
    }

.main-menu-item  {
    text-decoration: none;
    color: #1a1b1f;
    text-align: left;
    letter-spacing: .25px;
    border-left: 0 #e6e6e5;
    border-right: 1px solid rgba(0, 0, 0, .05);
    margin-left: 0;
    margin-right: 0;
    padding: 12px 20px;
    font-size: 15px;
    line-height: 10px;
    
}


