body { 
    background: rgba(212, 226, 223, 0.3)

}
nav{
    border-color: aqua;
}
.bg{
    background-color: #1a1b1f;
}
/*navigation bar header*/
header{
    margin-top: 0px;
    display: flex;
    margin-right: 0px;
    padding-top: 20px;
    justify-content: baseline;
     
}
header {
    position: sticky;
    top: 0; 
    border: solid;  
}

nav{
    list-style: none;
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 33px;
}
nav2{
    padding-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    margin-block-end: 0;
}
/*topnavigation*/
.topnav-right{
    float: right;

}
div1  {
     margin-right:100px ;
     border-width: 0.2px;
 }
 div2{
    text-decoration: none;
    
 }

a{
    color: white;
    text-decoration: none;
}
.button:hover {
    
    background-color: #6a4e72; /* Green */
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    
   
  }
  a:active {
    background-color: #04AA6D;
    }

.main-menu-item  {
    text-decoration: none;
    color: #1a1b1f;
    text-align: left;
    letter-spacing: .25px;
    border-left: 0 #e6e6e5;
    border-right: 1px solid rgba(0, 0, 0, .05);
    margin-left: 0;
    margin-right: 0;
    padding: 12px 20px;
    font-size: 20px;
    line-height: 1px;
    
}


