
div.marginsandpadding{ 
        border: solid 1pt aqua;
        margin: 10px;
        float: left;
        padding: 20% 10%;
        background-repeat:space;
    }
    html{ 
        background-color: black;
        color: green;
    }
section.hero {
    background: url("images/book.jpg");
    height: 60vh;
    -webkit-background-size: cover;
    background-size: 58% ;
    background-position: left center ;
    background-repeat: no-repeat;
    position: relative;
    }
body{background-image: url("images/LRoom.jpg") ;
    float: left;}

section.key-features {
        background: url("images/LRoom.jpg");
        height: 80vh;
        -webkit-background-size: cover;
        background-size: 60% ;
        background-position: right center ;
        background-repeat: no-repeat;
        position: relative;
        }
    

