h1{
    font-family: "Audiowide", sans-serif;
    font-weight: 700;
    font-size: 80px;
}
p1 {
    font-size: 30px;
    font-optical-sizing:auto;
    font-weight: 500;
    
}
.getStartedButton:hover{
    background-color: #8b7990; /* Green */
    border: none;
    color: rgb(237, 236, 228);
    
    text-align: center;
    text-decoration: none;
}